@use '../../global';

.editButton {
  border-color: global.$color-primary;
  background-color: global.$color-primary;
  color: global.$color-surface;
  font-weight: bold;
  padding: 10px;
}

.button {
  flex: 1;
  max-width: 150px;
  border-color: global.$color-primary;
  background-color: global.$color-surface;
  color: global.$color-primary;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formSection {
  display: flex;
  justify-content: center;
  gap: 1rem;

  & input {
    padding: 5px;
    font-size: 1.2rem;
  }
}
