@use '../../global';

.main {
  flex: 1;
}

.bgDark {
  background-color: global.$color-secondary;
}

.signButton {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: global.$color-primary;
  background-color: global.$color-primary;
  color: global.$color-surface;
}

.signContent {
  box-sizing: border-box;
  background-color: global.$color-surface;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.signIcon {
  font-size: 5rem;
}

.inputRemember {
  display: flex;
  & label {
    margin-left: 0.25rem;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;

  & label {
    font-weight: bold;
  }

  & input {
    padding: 5px;
    font-size: 1.2rem;
  }
}
